body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
		sans-serif;
}

#main {
	display: grid;
	grid-template-columns: repeat(10, 20px);
	border-width: 1px;
	border-style: sodid;
}

.cell {
	width: 20px;
	height: 20px;
	border-style: outset;
	border-width: 2px;
	border-color: lightgray;
	box-sizing: border-box;
	background-color: lightgray;
}
